<div class="container">
    <h1>Create an event</h1>
    <button (click)="this.getEvents()">Get events</button>
    <ul>
        <li *ngFor="let event of this.eventsList">
            <p>{{ event.title }}</p>
            <p>{{ event.location }}</p>
            <p>{{ event.description }}</p>
            <p>{{ event.startDate.toLocaleDateString() }}</p>
            <p>{{ event.endDate.toLocaleDateString() }}</p>
        </li>
        
    </ul>
    <!-- <form class="form" [formGroup]="createEventForm" (ngSubmit)="onSubmit()" >
      <div class="form-group"></div>

      <div class="row">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="startDate" required formControlName="startDate">
        <div *ngIf="this.isControlInvalid(createEventForm.controls['startDate'])" class="error">
            Start date is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!createEventForm.valid">Submit</button>
      </form> -->
</div>

      