<div class="container">
    <h1>Events calendar</h1>
    <div class="row">
        <div class="col-md-6 m-1">
            <button type="button" class="btn btn-primary float-end" routerLink="/create-event">Add event</button>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6">
            <full-calendar [options]="calendarOptions">
                <ng-template #eventContent let-arg>
                    <b>{{arg.timeText}}</b>
                    <i>{{arg.event.title}}</i>
                </ng-template>
            </full-calendar>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let event of this.eventsList">
                    <h5>{{ event.title }}</h5>
                    <div>{{ event.location }}</div>
                    <div>{{ event.description }}</div>
                    <div>{{ event.startDate.toLocaleDateString() }} - {{ event.endDate.toLocaleDateString() }}</div>
                </li>
    
            </ul>
        </div>

    </div>
    
</div>